Source: feedmailer
Section: net
Priority: optional
Maintainer: user <user@host>
Build-Depends: debhelper (>= 9.0.0), dh-apparmor
Build-Depends-Indep: libfile-sharedir-install-perl
Standards-Version: 4.1.4

Package: feedmailer
Architecture: all
Depends: libarray-utils-perl,
         libconfig-any-perl,
         libconfig-tiny-perl,
         libdatetime-perl,
         libemail-address-perl,
         libemail-date-format-perl,
         libfile-homedir-perl,
         libfile-sharedir-perl,
         libhtml-strip-perl,
         libhtml-stripscripts-perl,
         libjson-perl,
         liblingua-identify-perl,
         liblocale-codes-perl,
         liblwp-protocol-socks-perl,
         libmime-charset-perl,
         libmime-lite-html-perl,
         libmime-lite-perl,
         libmime-types-perl,
         libpath-tiny-perl,
         libproc-pid-file-perl,
         libtemplate-perl,
         libtemplate-plugin-html-strip-perl,
         libtext-trim-perl,
         liburi-perl,
         libwww-perl,
         libxml-feed-perl,
         moreutils,
         ${misc:Depends},
         ${perl:Depends},
         ${shlibs:Depends}
Recommends: default-mta | mail-transport-agent,
            mail-reader | icedove | thunderbird
Description: Feed-Aggregator (RSS/Atom to email gateway)
 The lone gunman is a feed aggregator that queries RSS/Atom feed and delivers new
 articles by email using the Sendmail-Commandline-Interface.
 .
 No need for a feedreader; use your email client!
